script(src='plugins/bower_components/jquery/dist/jquery.min.js')
// Bootstrap Core JavaScript
script(src='bootstrap/dist/js/tether.min.js')
script(src='bootstrap/dist/js/bootstrap.min.js')
script(src='plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js')
// Menu Plugin JavaScript
script(src='plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')
// slimscroll JavaScript
script(src='js/jquery.slimscroll.js')
// Wave Effects
script(src='js/waves.js')
// Flot Charts JavaScript
script(src='plugins/bower_components/flot/jquery.flot.js')
script(src='plugins/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js')
// google maps api
script(src='plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.min.js')
script(src='plugins/bower_components/vectormap/jquery-jvectormap-world-mill-en.js')
// Sparkline charts
script(src='plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')
// EASY PIE CHART JS
script(src='plugins/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')
script(src='plugins/bower_components/jquery.easy-pie-chart/easy-pie-chart.init.js')
// Custom Theme JavaScript
script(src='js/custom.min.js')
script(src='js/dashboard2.js')
script(src='plugins/bower_components/switchery/dist/switchery.min.js')
script(src='plugins/bower_components/custom-select/custom-select.min.js', type='text/javascript')
script(src='plugins/bower_components/bootstrap-select/bootstrap-select.min.js', type='text/javascript')
script(src='plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
script(src='plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js', type='text/javascript')
script(type='text/javascript', src='plugins/bower_components/multiselect/js/jquery.multi-select.js')
// Form Wizard JavaScript
script(src='plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js')
// FormValidation
link(rel='stylesheet', href='plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css')

// FormValidation plugin and the class supports validating Bootstrap form
script(src='plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js')
script(src='plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js')
// Style Switcher
script(src='plugins/bower_components/styleswitcher/jQuery.style.switcher.js')
// Style Switcher
script(src='plugins/bower_components/styleswitcher/jQuery.style.switcher.js')
script(src='plugins/bower_components/summernote/dist/summernote.min.js')
