head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', type='image/png', sizes='16x16', href='plugins/images/favicon.png')

    // Bootstrap Core CSS
    link(href='bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css', rel='stylesheet')
    link(href='plugins/bower_components/datatables/jquery.dataTables.min.css', rel='stylesheet', type='text/css')
    link(href='https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css', rel='stylesheet', type='text/css')
    // Menu CSS
    link(href='plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css', rel='stylesheet')
    link(rel='stylesheet', href='plugins/bower_components/dropify/dist/css/dropify.min.css')
    link(href='plugins/bower_components/jquery-wizard-master/css/wizard.css', rel='stylesheet')
    // page CSS
    link(href='plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css', rel='stylesheet', type='text/css')
    link(href='plugins/bower_components/custom-select/custom-select.css', rel='stylesheet', type='text/css')
    link(href='plugins/bower_components/switchery/dist/switchery.min.css', rel='stylesheet')
    link(href='plugins/bower_components/bootstrap-select/bootstrap-select.min.css', rel='stylesheet')
    link(href='plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css', rel='stylesheet')
    link(href='plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css', rel='stylesheet')
    link(href='plugins/bower_components/multiselect/css/multi-select.css', rel='stylesheet', type='text/css')
    // vector map CSS
    link(href='plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet')
    link(href='plugins/bower_components/css-chart/css-chart.css', rel='stylesheet')
    link(href='plugins/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css', rel='stylesheet')
    link(href='plugins/bower_components/summernote/dist/summernote.css', rel='stylesheet')
    // animation CSS
    link(href='css/animate.css', rel='stylesheet')
    // Custom CSS
    link(href='css/style.css', rel='stylesheet')
    // color CSS
    link#theme(href='css/colors/default-dark.css', rel='stylesheet')

    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')